<nav class="navbar navbar-expand-lg navbar-light w3-white fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img class="img-fluid logo" src="{{ asset('img/logo_white_background_small.jpg') }}" alt="logo TMS">
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"  href="{{ path('products') }}"> <i class="fas fa-store"></i> Boutique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQs</a>
                </li>
            </ul>
            <div class="mx-auto d-flex">
                {% include '_partials/search.html.twig' %}
            </div>
        </div>

        <div class="d-flex align-items-center">
            <div class="dropdown">
                {% if not is_granted("ROLE_ADMIN") and is_granted("ROLE_USER") %}
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow custom-dropdown-link" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <div class="text-center mx-auto">
                            <img src="{{ asset('uploads/' ~ app.user.avatar) }}" class="rounded-circle" height="25" alt="{{ app.user.email }} {{ app.user.lastname }}" loading="lazy" />
                        </div>
                    </a>
                    <small class="mx-auto"> {{ app.user.email }}</small>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li><a class="dropdown-item" href="{{ path('app_account') }}">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-right-from-bracket"></i> Déconnexion</a></li>
                    </ul>
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                    <a class="dropdown-toggle d-flex align-items-center  text-center hidden-arrow custom-dropdown-link" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        {% if app.user.avatar %}
                            <div class="text-center mx-auto">
                                <img src="{{ asset('uploads/' ~ app.user.avatar) }}" class="rounded-circle" height="25" alt="{{ app.user.email }} {{ app.user.lastname }}" loading="lazy" />
                            </div>
                        {% endif %}
                    </a>
                    <b class="my-auto btn" style="background-color: #146c94; color:white"><i class="fa-regular fa-circle-user"></i> {{ app.user.email }}</b>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li><a class="dropdown-item" href="{{ path('admin') }}">Espace admin</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_account') }}">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                {% endif %}

            </div>
            <div class="dropdown" style="margin-right: 6rem">
                {% if not is_granted("ROLE_ADMIN") and not is_granted("ROLE_USER") %}
                    <a class="d-flex align-items-center hidden-arrow btn custom-dropdown-link" href="{{ path('app_login') }}" style="background-color: #146c94; color:white">
                        <i class="fa-solid fa-lock"></i> 
                    </a> 

                    {# <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li><a class="dropdown-item text-uppercase" href="{{ path('app_login') }}"> Connexion</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-uppercase" href="{{ path('inscription') }}">Inscription</a></li>
                    </ul> #}
                {% endif %}
            </div>
        </div>

        <div class="d-flex align-items-center">
            <a class="text-reset me-3" href="{{ path('cart') }}"><i class="fas fa-shopping-cart" style="color: #146c94;"></i></a>
        </div>
        <div class="d-flex align-items-center text-warning">
            <a href="{{ path('cart_favorites') }}" class="text-reset me-3">
                <i class="fas fa-heart"></i>
            </a>
        </div>

    </div>
</nav>
