{% extends 'base.html.twig' %}

{% block title %}Mon compte : mes produits favoris
{% endblock %}

{% block body %}
	<div class="container" style="margin-top: 100px">
		<div class="d-flex justify-content-between justify-content-center align-items-center">
			<div class="">
				<h1>Mes produits favoris</h1><hr>
			</div>
			<div class="">
				<a class="btn" style="background-color: #146c94; color:white" href="{{ path('app_account') }}">Retour à mon compte</a>
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-md-3">
				{% include '_partials/aside.html.twig' %}
			</div>
			<div class="col-md-9">
                <div class="row">
                    {% for favoris in favorites %}
                    <div class="col-md-2">
                        {% if favoris %}
                            <div class="w3-card mb-5">
                                <img src="{{ asset('uploads/' ~ favoris.illustration) }}" class="img-fluid" alt="{{ favoris.name }}">
                                <div class="card-body">
                                    <div class="card-header text-center">
                                        <h5 class="card-title text-center">
                                            <b>{{ favoris.name }}</b>
                                        </h5>
                                    </div>
                                    <div class="card-footer text-muted text-center">
                                        {% set euros = (favoris.price / 100)|number_format(0, ',', ',') %}
                                        {% set cents = ((favoris.price % 100) / 100)|number_format(2, ',', ',')|slice(2) %}

                                        <div class="btn-group btn-group-sm w-100" role="group" aria-label="Basic example">
                                            <button type="button" class="w3-button w-100" style="background-color: #146c94; color:white">
                                                <a class="text-white" href="{{ path('add_to_cart', {id: favoris.id}) }}">
                                                    <i class="fas fa-cart-plus"></i>
                                                </a>
                                            </button>

                                            <button type="button" class="w3-button w-100" style="background-color: #146c94; color:white">
                                                <b style="font-size:1rem">€{{ euros }}</b>
                                                <b>
                                                    <sup>
                                                        {{ cents }}</sup>
                                                </b>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>Vous n'avez pas encore de produits favoris.</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
			</div>
		</div>
	</div>
{% endblock %}
